.ContactNameD {
  margin: 0 10px;
}

.ContactNameM {
  display: none;
}

.Contact_List {
  display: flex !important;
  align-items: center;
}

.Contact_List_Item {
  display: flex;
  align-items: center;
}

.Contact_Number {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.ContactNumberM {
  display: none;
}

.DeleteContact {
  margin-left: 5px !important;
  transition: all 0.2s;
  color: #aa0303;
}

.DeleteContact:hover {
  transform: scale(1.5);
  cursor: pointer;
}

@media (max-width: 767px) {
  .ContactNameD {
    display: none;
  }

  .ContactNameM {
    display: block;
    font-size: 22px;
    margin: 0 0 0 10px;
  }

  .ContactNumberD {
    display: none;
  }

  .ContactNumberM {
    display: block;
  }
}

@media (max-width: 360px) {
  .Contact_List_Item {
    text-align: left;
  }

  .ContactNameM {
    font-size: 16px;
  }
}
