.items_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.single_item_container {
  padding: 20px;
  text-align: center;
  cursor: pointer;
  min-width: 10rem;
}

.items_container {
  display: flex;
  align-items: center;
  margin: 0 10px;
  max-width: 57rem;
  overflow-y: auto;
}

.name {
  margin-top: 5px;
}

.left_right {
  transition: all 0.2s;
}

.left_right:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.items_container::-webkit-scrollbar {
  display: none;
}

.Favorite_thumb {
  height: 75px;
  width: 75px;
}

.Favorite_Slider {
  min-height: auto !important;
  padding: 0px !important;
  max-width: 90% !important;
  margin: 0 auto !important;
}

@media (max-width: 767px) {
  .items_wrap {
    padding: 0 10px;
  }
  .single_item_container {
    padding: 10px;
    min-width: 8rem;
  }

  .Favorite_thumb {
    height: 55px;
    width: 55px;
  }
  .Favorite_Slider {
    max-width: 100% !important;
  }
}
